.filter {
    display: flex;
    justify-content: center;
    form {
        margin-right: 80px;
    }
    label {
        padding-right: 20px;
    }
    input, &__btn{
        border-radius: 4px;
        border: none;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        text-align: center;
        padding: 1px 10px;
    }
    &__btn {
        width: 75px;
        height: 30px;
        background-color: transparent;
    }
    input {
        width: 180px;
        height: 30px;
    }
    &__btns {
        display: flex;
        span {
            padding-right: 36px;
        }
        &_list {
            display: flex;
            li {
                list-style-type: none;
                margin-right: 5px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}